/dts-v1/;
/plugin/

/*
    Device tree for describing a broadcom BCM2837b0 SoC
*/

/ {

    compatible = "brcm,bcm2710";
    #address-cells = <1>;
    #size-cells = <1>;
    
    cpus {      // describe the 4 ARM cortex-a53 CPU cores
    
        #address-cells = <1>;       // no address associated with CPUs
        #size-cells = <0>;

        cpu@0 {

            compatible="arm,cortex-a53"
            reg = <0>;  // reg value must match node-address value used in the node name

        };

        cpu@1 {

            compatible="arm,cortex-a53"
            reg = <1>;

        };

        cpu@2 {
            
            compatible="arm,cortex-a53"
            reg = <2>;
            
        };

        cpu@3 {

            compatible="arm,cortex-a53"
            reg = <3>;
            
        };

    };




};
