/dts-v1/;

/*
    Device tree for describing a broadcom BCM2837b0 SoC
*/

/ {

    compatible = "rpi,rpi3bplus","brcm,bmc2837","brcm,bcm2837b0";
    #address-cells = <1>;
    #size-cells = <1>;
    
    cpus {      // describe the 4 ARM cortex-a53 CPU cores
    
        #address-cells = <1>;       // no address associated with CPUs
        #size-cells = <0>;

        cpu@0 {
            compatible="arm,cortex-a53";
            reg = <0>;  // reg value must match node-address value used in the node name

        };

        cpu@1 {
            compatible="arm,cortex-a53";
            reg = <1>;

        };

        cpu@2 {
            compatible="arm,cortex-a53";
            reg = <2>;
            
        };

        cpu@3 {
            compatible="arm,cortex-a53";
            reg = <3>;
            
        };

    };

    mem@0 {
        compatible="zmelo,0h1000";
        reg = < 0 >;
    };

    timer@3F003000 {
        compatible="zmelo,0j1000";
        reg = < 0x3F003000 0x1C >;
    };
    
    dma@3F007000 {
        compatible="zmelo,0c1000";
        reg = < 0x3F007000 0x24
                0x3F007100 0x24
                0x3F007200 0x24
                0x3F007300 0x24
                0x3F007400 0x24
                0x3F007500 0x24
                0x3F007600 0x24
                0x3F007700 0x24
                0x3F007800 0x24
                0x3F007900 0x24
                0x3F007A00 0x24
                0x3F007B00 0x24
                0x3F007C00 0x24
                0x3F007D00 0x24
                0x3F007E00 0x24
                0x3FE05000 0x24 >;
    };

    interrupt-controller@3F00B200 {
        compatible="zmelo,0g1000";
        reg = < 0x3F00B200 0x28 >;
    };

    timer@3F00B400 {
        compatible="zmelo,0a1000";
        reg = < 0x3F20B400 0x24 >;
    };

    gpio@3F20000 {
        compatible="zmelo,0e1000";
        reg< 0x3F200000 0xB4 >;
    };

    uart@3F201000 {
        compatible="zmelo,0m1000";
        reg = < 0x3F201000 0x90 >;
    };

    pcm@3F203000 {
        compatible="zmelo,0f1000";
        reg = < 0x3F203000 0x24 >;
    };

    spi@3F204000 {
        compatible="zmelo,0k1000";
        reg = < 0x3F204000 0x100 >;
    }

    bsc@3F205000 {
        compatible="zmelo,0b1000";
        reg = < 0x3F205000 0x20
                0x3F804000 0x20
                0x3F805000 0x20 >;
    };

    pwm@3F20C000 {
        compatible="zmelo,0i1000";
        reg< 0x3F20C000 0x28 >;
    };

    aux@3F215000 {
        compatible="zmelo,0l1000";
        reg< 0x3F215000 0xD8 >;
    }

    emmc@3F300000 {
        compatible="zmelo,0d1000";
        reg = < 0x3F300000 0x100 >;
    };

    usb@3F980080 {
        compatible="zmelo,0n1000";
        reg = < 0x3F980080 0x1C >;
    };

};
